<div class="row">
    <main class="col-md-12">
        <br>
        <h2>{{student.firstName}} {{student.lastName}} - Student: {{student.studentNum}}</h2>
        <hr>
        <form method="post" action="/student/update">
            <input type="hidden" name="studentNum" value="{{student.studentNum}}" />

            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email:</label>
                            <input class="form-control" name="email" type="email" value="{{student.email}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address (Street):</label>
                            <input class="form-control" name="addressStreet" type="text" value="{{student.addressStreet}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address (City):</label>
                            <input class="form-control" name="addressCity" type="text" value="{{student.addressCity}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address (Province):</label>
                            <input class="form-control" name="addressProvince" type="text" value="{{student.addressProvince}}" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>TA:</label>
                    <input name="TA" type="checkbox" {{#if student.TA}}checked{{/if}} />
                </div>
                <div class="form-group">
                    <label>Status:</label><br>
                    <input type="radio" name="status" value="Full Time" {{#equal student.status "Full Time"}}checked{{/equal}}>
                    <label for="statusFullTime">Full Time</label><br>
                    <input type="radio" name="status" value="Part Time" {{#equal student.status "Part Time"}}checked{{/equal}}>
                    <label for="statusPartTime">Part Time</label><br>
                </div>
                <div class="form-group">
                    <label>Course:</label>
                    <select class="form-control" name="course">
                        {{#each courses}}
                        <option value="{{this}}" {{#equal ../student.course this}}selected{{/equal}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </fieldset>
            <hr>
            <input type="submit" class="btn btn-primary float-right" value="Update Student" />
            <br><br><br>
        </form>
    </main>
</div>
